body {
	align-items: center;
	background-color: #505050;
	color: white;
	display: flex;
	flex-direction: column;
	font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
		Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
		sans-serif;
	min-height: 100vh;
	justify-content: center;
	text-align: center;
}

main {
	background-color: rgba(255, 255, 255, 0.1);
	border-radius: 10px;
	max-width: 600px;
	padding: 10px 30px;
}

.generate-password {
  background-color: #9d1fae;
  border: 0 none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  font-size: 20px;
  margin: 10px;
  padding: 10px;
}

.password-content {
  align-items: center;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 5px;
  display: flex;
  justify-content: center;
}

h2 {
	color: #e8a4f0;
  padding: 10px;
  font-size: 18px;
}

a {
  color: #e8a4f0;
  text-decoration: none;
}

a:hover {
  color: #f170ff;
}

.material-icons {
  cursor: pointer;
}
